{{ define "main" }}

<div class="page-container">
  <h2 class="press-grid-title">
    {{ if eq .Lang "it" }}
      Articoli di giornale & media
    {{ else }}
    Articoli di giornale & media
    {{ end }}
  </h2>

 

  <div class="press-grid">
    {{ range $i, $f := readDir "static/images/press" }}
      {{ if not $f.IsDir }}
        {{ $path := printf "/images/press/%s" $f.Name }}
        {{ $caption := replace (replace $f.Name ".jpg" "") "_" " " }}

        <div class="press-card">
          <a href="{{ $path }}" class="glightbox" data-gallery="press">
            <img src="{{ $path }}" alt="{{ $caption }}" loading="lazy">
          </a>
          <div class="press-caption">{{ $caption }}</div>
        </div>

      {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}